# Python / mkdocs
__pycache__/
site/

# Office/LibreOffice temporals
**/.~lock.*#
~$*.docx
~$*.pptx
~$*.xlsx

# Cache del convertidor
.publish-cache.json
README copy.md
*.zip
xlo-pre03-elements-d-una-xarxa.*
presentacions/README.txt
*.sql
altres/
.gitignore
